<%= provide(:title, 'Arcana | Assessments')%>
<h1>All Assessments</h1>
<div id="angular-app-container" ng-app="arcana">
  <div id="angular-controller-container" ng-controller="AssessmentsCtrl">
<table class="table table-striped">
  <thead>
    <tr>
      <th id="subject-sort" ng-click="predicate = 'subject.name';reverse=!reverse">Subject</th>
      <th id="type-sort" ng-click="predicate = 'type.name';reverse=!reverse">Type</th>
      <th id="assessment-sort" ng-click="predicate = 'title';reverse=!reverse">Title</th>
      <th id="average-sort" ng-click="predicate = 'average';reverse=!reverse">Average Mark</th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="assessment in assessments | filter:markBetween | filter:{title: titleSearch, subject.name: subjectSearch, type.name: typeSearch} | orderBy:predicate:reverse">
        <td>{{assessment.subject.name}}</td>
        <td>{{assessment.type.name}}</td>
        <td>{{assessment.title}}</td>
        <td>{{assessment.average}}</td>
      </tr>
  </tbody>
</table>
</div>
</div>
<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Assessment', new_assessment_path %> |
<% end %>
  <%= link_to 'Back', request.referer %> 
