<h1>Listing assessments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Type</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= link_to assessment.subject.name, assessment.subject %></td>
        <td><%= link_to assessment.type.name, assessment.type %></td>
        <td><%= link_to assessment.title, assessment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Assessment', new_assessment_path %>
<% end %>
