<%= provide(:title, 'Arcana | Assessments')%>
<div id="angular-app-container" ng-app="arcana">
  <div id="angular-controller-container" ng-controller="AssessmentsCtrl">
      <div class="btn-group btn-group-justified">
      <input type="text" id="left-input" class="assess-search" ng-model="search.title" name="search" placeholder="Assessment" />
      <input type="text" class="assess-search" ng-model="search.subjectName" name="low-mark-search" placeholder="Subject" />
      <input type="text" class="assess-search" ng-model="search.typeName" name="low-mark-search" placeholder="Type" />
      <input type="text" class="assess-search" name="low-mark-search" ng-model="minAverage" placeholder="Lowest Average" />
      <input type="text" id="right-input" class="assess-search" name="high-mark-search" ng-model="maxAverage" placeholder="Highest Average" />
    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th id="subject-sort" ng-click="predicate = 'subject.name';reverse=!reverse">Subject</th>
      <th id="type-sort" ng-click="predicate = 'type.name';reverse=!reverse">Type</th>
      <th id="assessment-sort" ng-click="predicate = 'title';reverse=!reverse">Assessment</th>
      <th id="average-sort" ng-click="predicate = 'average';reverse=!reverse">Average Mark</th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="assessment in assessments | filter:averageBetween | filter:search | orderBy:predicate:reverse">
        <td>{{assessment.subjectName}}</td>
        <td>{{assessment.typeName}}</td>
        <td>{{assessment.title}}</td>
        <td>{{assessment.average}}</td>
      </tr>
  </tbody>
</table>
</div>
</div>
<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Assessment', new_assessment_path %> |
<% end %>
<%= link_to 'Back', request.referer %>
<%= link_to 'View Assessment Types', '/types', class: 'pull-right' %>
