<%= provide(:title, 'Arcana | About')%>
<h1>About Us</h1>
<p>Let's face it. School can be a bit dull, even if you're good at it.
	Whether your specialty lies in just one subject, or across many, sometimes it can seem like there's not much to gain from being good.
	Maybe the tasks feel unimportant, or you don't intend to do anything remotely like that in VCE.</p>

<p>It doesn't have to be that way. For many of us, competition enlivens anything and adds a sense of value. That Geography assignment might be
	pretty thankless, but if you're up against your mates, suddenly the interest level rises. Arcana was designed to
	foster a productive and exciting environment at school through competition.</p>
