
<div class="hero-unit">
	<h1>Welcome to Arcana!</h1><br><br><br>
	<p>Arcana is a simple application for tracking and comparing academic results. Join Arcana, compete with your friends, track your favourite subjects and have fun succeeding! </p>
	<p><a href="/signup" class="btn btn-large">Sign Up »</a></p>
</div>
