<strong>Terms of Use</strong>
<p>
Arcana makes every endeavour to ensure that the information it and its users provides is accurate, however it does not warrant 
or guarantee the accuracy of any information provided by it or its users. 
Anyone acting on the advice provided by Arcana and its users does so with the knowledge 
that there is no warranty as to the accuracy or correctness of the information provided.
</p>


<strong>Privacy Policy</strong>
<p>This following document sets forth the Privacy Policy for the Arcana website.</p>

<p>Arcana is committed to providing you with the best possible user experience.</p>
<br>
<strong>Collection of your personal information</strong>
<p>For access to full features you are required to submit personally identifiable information. 
This includes but is not limited to a unique username, password, email address, full name.</p>
<br>
<strong>Sharing of your personal information</strong>
<p>We may occasionally hire other companies to provide services on our behalf.
These companies will be permitted to obtain only the personal information they need to deliver the service. 
Arcana takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations 
in relation to the protection of your personal information.</p>
<br>
<strong>Use of your personal information</strong>
<p>For each visitor to reach the site, we expressively collect the following non-personally 
	identifiable information, including but not limited to browser type, version and language, 
	operating system, pages viewed while browsing the Site, page access times and referring website address. 
	This collected information is used solely internally for the purpose of gauging visitor traffic, trends and 
	delivering personalized content to you while you are at this Site. </p>

<p>From time to time, we may use user information for new, unanticipated uses not previously disclosed in our privacy notice. 
	If our information practices change at some time in the future we will use for these new purposes only, 
	data collected from the time of the policy change forward will adhere to our updated practices.</p>
<br>
<strong>Changes to this Privacy Policy</strong>
<p>Arcana reserves the right to make amendments to this Privacy Policy at any time. 
	If you have objections to the Privacy Policy, you should not access or use the Site.</p>
<br>
<strong>Accessing Your Personal Information</strong>
<p>You have a right to access your personal information, subject to exceptions allowed by law. 
	If you would like to do so, please let us know. You may be required to put your request in writing for security reasons.
	 Arcana reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.</p>
