<h1>Edit assessment</h1>

<form id="edit-assessment" name="assessment">
  <div class="field">
    <label for="subject_id"> subject_id:</label>
    <input type="text" name="subject_id" id="subject_id" value="<%= subject_id %>" >
  </div>

  <div class="field">
    <label for="type_id"> type_id:</label>
    <input type="text" name="type_id" id="type_id" value="<%= type_id %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="exam"> exam:</label>
    <input type="text" name="exam" id="exam" value="<%= exam %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Assessment" />
  </div>

</form>

<a href="#/index">Back</a>