<h1>Listing assessments</h1>

<table id="assessments-table">
  <tr>
    <th>Subject</th>
    <th>Type</th>
    <th>Title</th>
    <th>Exam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Assessment</a>