<h1>Listing students</h1>

<table id="students-table">
  <tr>
    <th>House</th>
    <th>Admin</th>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Student</a>