<h1>New student</h1>

<form id="new-student" name="student">
  <div class="field">
    <label for="house"> house:</label>
    <input type="text" name="house" id="house" value="<%= house %>" >
  </div>

  <div class="field">
    <label for="admin"> admin:</label>
    <input type="text" name="admin" id="admin" value="<%= admin %>" >
  </div>

  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Student" />
  </div>

</form>

<a href="#/index">Back</a>