<h1>Listing students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th> 
      <th>House</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
		<td><%= link_to student.full_name, student %>
        <td><%= student.house_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

