<%= provide(:title, 'Arcana | Students')%>

<h1><%= current_user.full_name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Metric</td>
			<td>Average</td>
			<td>Rank</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
