<h1>Results</h1>

<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Assessment</th>
      <th>Mark</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="res-table">
    
<%= form_for(Result.new) do |f| %>
	<tr>	
		<td><%= current_user.full_name %></td>
  		<td><%= f.collection_select :assessment_id, Assessment.all, :id, :title %></td>
		<td><%= f.text_field :mark, :placeholder => "Mark" %></td>
		<td><a class="btn result-submit">Add</a></td>
  	</tr>
<% end %>
<div id="results-special"></div>
  </tbody>
</table>
