<h1>Listing subjects</h1>

<table id="subjects-table">
  <tr>
    <th>Name</th>
    <th>Elective</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Subject</a>