@import "bootstrap";

/* mixins, variables, etc. */

$accentLight: #ff5f51;
$linkLight: #ff857a;
$bgDark: #470500;
$bgLight: #b8eeae;
$grayMediumLight: #eaeaea;
$serifFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;

strong {
    color: $accentLight;
}


html { 
  /*background: url(arcana-bkg-red-v1.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 1%;
}

body {
  padding-top: 60px;
  height: 100%;
  margin-bottom: 1%;
  background-color: $bgDark;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $accentLight;
  font-family: $serifFont !important;
}

.btn:hover {
  color: $accentLight !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $accentLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: $serifFont !important;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $linkLight;
    text-decoration: none;
  }
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  color: white;
  a {
    color: white;
    &:hover {
      color: $linkLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer {
  position: relative;
  /*margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

/* miscellaneous */

/* forms */


input {
  height: auto !important;
}



.navbar-inner {
  background-color: $bgDark;
  background-image: none;
}

.center.navbar .nav,
.center.navbar .nav > li {
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

#logo {
  margin-left: 10px;
  width: 15%;
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}

select 
{
  padding: 0px !important;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
  margin-right: 20%;
  width: 20%;
}
 
#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
#custom-search-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.search-query:focus + button {
  z-index: 3;   
}
 
#logo {
  color: $accentLight;
  text-transform: none;
}

a {
  color: white;
}



a:hover {
  color: $linkLight !important;
  text-decoration: none !important;
}

label {
  color: $linkLight;
}

ul {
  color: white;
}

.header-menu {
  width: 35%;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-image: none !important;
    background-color: $bgDark !important;
}

.content-description {
  margin-left: 18%;
  color: white;
}

.thumbnail-img {
  width: 120px;
  height: 180px;
  margin: 10px;
}

.review-bar {
  margin-top: -4.5%;
}

hr {
  margin: 5px 0;
}

thead {
  color: $linkLight;
}

tbody {
  color:white;
}

.hero-unit h1
{
  float:left;
}

.hero-unit {
  color: $grayMediumLight !important;
  background-color: transparent;
  float:left;
  margin-top:5%;
}

.front-signin {
  background: #fff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: auto;
  left: 536px;
  top: 0;
  width: 300px;
  border-radius: 4px;
  
  input[type="text"] {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }
  
  input[type="password"] {
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 175px;
  }
  
  input[type="submit"] {
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

 .front-signup {
  background: #fff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: auto;
  left: 536px;
  top: 0;
  width: 300px;
  border-radius: 4px;
  margin-top: 10px;
  
  .input-name {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }
  
  .input-email {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 258px;
  }
  
  .input-password {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 258px;
  }
  
  .input-submit {
    margin-left: 215px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align:left;
    width: 277px;
    font-family: "Helvetica Neue",Arial,sans-serif !important;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    
    strong {
      color: black !important;
    }
  }
}

.home-form {
  float: right;
  width: 45%
}

.home-text {
  float: left;
  width: 45%;
  margin-top: 10%;
  
  strong {
    color: white !important;
  }
}

