@import "bootstrap";

/* Variables */
$accentLight: #ff5f51;
$linkLight: #ff857a;
$bgDark: #470500;
$tableStripe: #700700;
$bgLight: #b8eeae;
$grayMediumLight: #eaeaea;
$serifFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;

/* Sections */
html {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 1%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &::selection {
    background: white;
  }
}

body {
  color: white;
  padding-top: 60px;
  height: 100%;
  margin-bottom: 1%;
  background-image: url(texture.png);
}

hr {
  margin: 5px 0;
}

/* Type */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $accentLight;
  font-family: $serifFont !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}

strong {
  color: $accentLight;
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    color: $linkLight !important;
    text-decoration: none !important;
  }
}

label {
  color: $linkLight;
}

ul {
  color: white;
}

/* Tables */
table.table-striped {
  th {
    cursor: pointer;
  }

  td.mark-col {
    text-align: right;
    width: 10px;
  }

  thead {
    a {
        color: $accentLight !important;
    }
    color: $accentLight !important;
  }

  tbody {
    color: white;

    input {
      width: 50px;
    }

    tr:nth-child(odd) > td, tr:nth-child(odd) > th {
      background-color: $tableStripe;
    }
  }
}

/* Forms */
.btn:hover {
  color: $accentLight !important;
}

.content-description {
  margin-left: 18%;
  color: white;
}

.review-bar {
  margin-top: -4.5%;
}

input {
  height: auto !important;
}

select
{
  padding: 0px !important;
}

fieldset {
  input[type="text"], input[type="password"] {
    width: 382px;
  }

  select {
    width: 397px;
  }
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: $linkLight !important;
    box-shadow: 0 1px 1px $linkLight inset, 0 0 8px $linkLight !important;
    outline: 0 none !important;
}

.btn-primary {@include buttonBackground($accentLight, $bgDark); }

input.left-input {
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

input.right-input {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

input.result-search {
  border-radius: 0px;
  width: 120.6px;
  margin-top: 11px;
}

input.assess-search {
  border-radius: 0px;
  width: 174px;
  margin-top: 11px;
}


/* Homepage */
.hero-unit {
  color: $grayMediumLight !important;
  background-color: transparent;
  float:left;
  margin-top:5%;

  h1 {
    float:left;
  }
}

.front-signup {
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  width: 300px;
  border-radius: 4px;
  margin-top: 10px;

  .input-name {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }

  .input-email {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 258px;
  }

  select {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 273px;
  }

  .input-password {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 258px;
  }

  .input-submit {
    margin-left: 215px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }

  h2 {
    text-align:left;
    width: 277px;
    font-family: "Helvetica Neue",Arial,sans-serif !important;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 1px 0 #fff;
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);

    strong {
      color: black !important;
    }
  }
}

.front-signin {
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  width: 300px;
  border-radius: 4px;

  input[type="text"] {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }

  input[type="password"] {
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 175px;
  }

  input[type="submit"] {
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

.home-form {
  float: right;
  width: 45%
}

.home-text {
  float: left;
  width: 45%;
  margin-top: 10%;

  strong {
    color: white !important;
  }
}

/* Footer */
footer {
  position: relative;
  height: 150px;
  clear:both;
  padding-top:20px;
  margin-top: 45px;
  border-top: 1px solid white;
  color: white;

  a {
    color: white;
    &:hover {
      color: $linkLight;
    }
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Header */
.navbar-inner {
  background-image: url(texture.png);
}

.center.navbar .nav,
.center.navbar .nav > li {
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}

.nav {
  margin-left: 20px !important;
}

@media only screen //iPads
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #logo {
    float: left;
    font-size: 1.7em;
    letter-spacing: -1px;
    &:hover {
      color: $linkLight;
      text-decoration: none;
    }

  }
  div.nav {
    width: auto !important;
  }
}
.navbar {
  li {
    line-height: 30px;
  }
   b {
    margin-top: 14px !important;
  }
}

#logo {
  float: left;
  margin-left: 70px;
  font-size: 2.0em;
  color: $accentLight;
  text-transform: none;
  font-family: $serifFont !important;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $linkLight;
    text-decoration: none;
  }
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inner {
  height: 50px;
  border: none;
}

header form {
  input {
    padding-right: 3px;
    margin-top: 4px;
    border-radius: 3px !important;
    width: 200px;
  }

  button {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
    padding: 2px 5px !important;
    position: relative;
    left: -28px;
    border-radius: 3px;
  }
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    color: $accentLight !important;
    background-image: none !important;
    background-color: $bgDark !important;
}

.nav-selected {
  background-color: $accentLight;

  a {
    color: $bgDark !important;

    &:hover {
      color: #555555 !important;
    }
  }
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: $accentLight;
  color: $bgDark;
  &:hover {
    color: #555555 !important;
  }
}
