@import "bootstrap";

$accentLight: #ff5f51;
$linkLight: #ff857a;
$bgDark: #470500;
$bgLight: #b8eeae;
$grayMediumLight: #eaeaea;
$serifFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;

//FORMS

/* Navigation */



strong {
    color: $accentLight;
}

table.table-striped th {
  cursor: pointer;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #700700;
}

.btn-group.btn {   border: 0;   padding: 0; }
.btn-group.btn > .btn { border-radius: 0 }
.btn-group.btn > .dropdown-menu {  text-align: left; }
.btn-group.btn:first-child > .btn {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.btn-group.btn:last-child > .btn {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 1%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  color: white;
  padding-top: 60px;
  height: 100%;
  margin-bottom: 1%;
  background-image: url(opaque-background-main-new.png);
}


a {
  cursor: pointer;
}

td.mark-col {
  text-align: right;
  width: 10px;
}

input.grouped-input {
  margin-top: 11px;
  width: 276px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

::selection {
  background: white;
}

ul.subjects-menu {
  margin-left: 1000px;
}

input.left-input {
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

input.right-input {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

input.result-search {
  border-radius: 0px;
  width: 120.6px;
  margin-top: 11px;
}

input.assess-search {
  border-radius: 0px;
  width: 174px;
  margin-top: 11px;
}

.subnav {
  a {
    color: black !important;
  }
  width: 100%;
  height: 36px;
  margin: 0 0 15px 0;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $accentLight;
  font-family: $serifFont !important;
}

.btn:hover {
  color: $accentLight !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $accentLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: $linkLight !important;
    box-shadow: 0 1px 1px $linkLight inset, 0 0 8px $linkLight !important;
    outline: 0 none !important;
}



.btn-primary {@include buttonBackground($accentLight, $bgDark); }

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .header-menu {
    //margin-left: 10%;
    //width: 35%;
    //clear: both;
  }

  #custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
    margin-right: -10px !important;
  }

  #logo {
    float: left;
    font-size: 1.7em;
    color: $accentLight;
    text-transform: none;
    font-family: $serifFont !important;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: $linkLight;
      text-decoration: none;
    }

  }
  div.nav {
    //float: right !important;
    //margin-left: 20% !important;
    width: auto !important;
  }
}


.navbar li {
  line-height: 30px;
}

.navbar b {
  margin-top: 14px !important;
}

/* header */

#logo {
  float: left;
  margin-left: 70px;
  font-size: 2.0em;
  color: $accentLight;
  text-transform: none;
  font-family: $serifFont !important;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $linkLight;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  color: white;
  a {
    color: white;
    &:hover {
      color: $linkLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer {
  position: relative;
  /*margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

/* miscellaneous */

/* forms */


input {
  height: auto !important;
}



.navbar-inner {
  background-image: url(opaque-background-main-new.png);
}

.center.navbar .nav,
.center.navbar .nav > li {
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}

.nav {
  margin-left: 20px !important;
}

select
{
  padding: 0px !important;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inner {
  height: 50px;
}

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
  float: left;
}

#custom-search-form .search-query {
  padding-right: 3px;
  margin-top: 4px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  border-radius: 3px;
  width: 200px;
}

#custom-search-form button {
  border: 0;
  color: transparent;
  background-image: none !important;
  background-color: none !important;
  box-shadow: none;
  margin-top: 7.5px;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-form i {
    margin-top: 6px;

}

.search-query:focus + button {
  z-index: 3;
}

a {
  color: white;
}

a:hover {
  color: $linkLight !important;
  text-decoration: none !important;
}

label {
  color: $linkLight;
}

ul {
  color: white;
}

.header-menu {
  /*width: 35%;*/
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    color: $accentLight !important;
    background-image: none !important;
    background-color: $bgDark !important;
}

.content-description {
  margin-left: 18%;
  color: white;
}

.thumbnail-img {
  width: 120px;
  height: 180px;
  margin: 10px;
}

.review-bar {
  margin-top: -4.5%;
}

hr {
  margin: 5px 0;
}

thead {
  a {
      color: $accentLight !important;
  }
  color: $accentLight !important;
}

tbody {
  color:white;
}

.hero-unit {
  color: $grayMediumLight !important;
  background-color: transparent;
  float:left;
  margin-top:5%;

  h1 {
    float:left;
  }
}

.front-signin {
  background: #fff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: auto;
  left: 536px;
  top: 0;
  width: 300px;
  border-radius: 4px;

  input[type="text"] {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }

  input[type="password"] {
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 175px;
  }

  input[type="submit"] {
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

 .front-signup {
  background: #fff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
  background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
  background: -o-linear-gradient(top,#fff 0,#ddd 100%);
  background: linear-gradient(top,#fff 0,#ddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: auto;
  left: 536px;
  top: 0;
  width: 300px;
  border-radius: 4px;
  margin-top: 10px;

  .input-name {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 258px;
  }

  .input-email {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 258px;
  }

  select {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 273px;
  }

  .input-password {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 258px;
  }

  .input-submit {
    margin-left: 215px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
  }

  h2 {
    text-align:left;
    width: 277px;
    font-family: "Helvetica Neue",Arial,sans-serif !important;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);

    strong {
      color: black !important;
    }
  }
}

.home-form {
  float: right;
  width: 45%
}

.home-text {
  float: left;
  width: 45%;
  margin-top: 10%;

  strong {
    color: white !important;
  }
}

.nav-selected {
  background-color: $accentLight;

  a {
    color: $bgDark !important;

    &:hover {
      color: #555555 !important;
    }
  }
}
.navbar-inner {
 border: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: $accentLight;
  color: $bgDark;
  &:hover {
    color: #555555 !important;
  }
}

tbody {
  input {
    width: 50px;
  }
}

fieldset {
  input[type="text"], input[type="password"] {
    width: 382px;
  }

  select {
    width: 397px;
  }
}
