@import "bootstrap";

/* mixins, variables, etc. */

$accentLight: #ff5f51;
$linkLight: #ff857a;
$bgDark: #470500;
$bgLight: #b8eeae;
$grayMediumLight: #eaeaea;

strong {
    color: $accentLight;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 1%;
}

body {
  padding-top: 60px;
  height: 100%;
  margin-bottom: 1%;
  background-color: $bgDark;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $accentLight;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $accentLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $linkLight;
    text-decoration: none;
  }
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  color: white;
  a {
    color: white;
    &:hover {
      color: $linkLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer {
  position: relative;
  /*margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

/* miscellaneous */

/* forms */


input {
  height: auto !important;
}



.navbar-inner {
  background-color: $bgDark;
  background-image: none;
}

.center.navbar .nav,
.center.navbar .nav > li {
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

#logo {
  margin-left: 10px;
  width: 15%;
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}

select 
{
  padding: 0px !important;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
  margin-right: 20%;
  width: 20%;
}
 
#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
#custom-search-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.search-query:focus + button {
  z-index: 3;   
}
 
#logo {
  color: $accentLight;
  text-transform: none;
}

a {
  color: white;
}



a:hover {
  color: $linkLight !important;
}

label {
  color: $linkLight;
}

ul {
  color: white;
}

.header-menu {
  width: 35%;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-image: none !important;
    background-color: $bgDark !important;
}

.content-description {
  margin-left: 18%;
  color: white;
}

.thumbnail-img {
  width: 120px;
  height: 180px;
  margin: 10px;
}

.review-bar {
  margin-top: -4.5%;
}

hr {
  margin: 5px 0;
}

thead {
  color: $linkLight;
}

tbody {
  color:white;
}

