@import "bootstrap";

$accentLight: #ff5f51;
$linkLight: #ff857a;
$bgDark: #470500;
$tableStripe: #700700;
$bgLight: #b8eeae;
$grayMediumLight: #eaeaea;
$serifFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
