<h1>Listing results</h1>

<table id="results-table">
  <tr>
    <th>Student</th>
    <th>Assessment</th>
    <th>Mark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Result</a>