<h1>New result</h1>

<form id="new-result" name="result">
  <div class="field">
    <label for="student_id"> student_id:</label>
    <input type="text" name="student_id" id="student_id" value="<%= student_id %>" >
  </div>

  <div class="field">
    <label for="assessment_id"> assessment_id:</label>
    <input type="text" name="assessment_id" id="assessment_id" value="<%= assessment_id %>" >
  </div>

  <div class="field">
    <label for="mark"> mark:</label>
    <input type="text" name="mark" id="mark" value="<%= mark %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Result" />
  </div>

</form>

<a href="#/index">Back</a>